{% extends "base.html" %}

{% block content %}
<br><br>
{% if current_user.is_authenticated %}

{% for msg in get_flashed_messages() %}
    <div class="alert alert-dangerous">
         {{ msg }}
    </div>

{% endfor %}

  {% if cart|length != 0 %}
  <h2>Your Cart:</h2>
  {% set total = [0] %}
  <table class='table table-hover table-bordered container'>
    <thead class="thead-dark">
      <tr>
        <th scope="col">Product ID</th>
        <th scope="col">Product Name</th>
        <th scope="col">Image</th>
        <th scope="col">Seller</th>
        <th scope="col">Quantity</th>
        <th scope="col">Unit Price</th>

      </tr>
    </thead>
    <tbody>
      {% for product in cart%}
        <tr>
          <th scope="row">{{product.pid}}</th>
          <td><a href="{{url_for('products.details', pid=product.pid)}}" >{{product.productname}}<br></td>
          <td><img src="{{url_for('static', filename='images/'+product.pid|string+'.png')}}" alt='no product image.' width="256" height="256" /></td>
          <td><a href="{{url_for('users.publicProfile', variable=product.sid) }}">{{product.sellerfirstname}} {{product.sellerlastname}}</td>
          <td>
            {{product.quantity}}&nbsp;&nbsp;&nbsp;<a href="{{url_for('products.editQuantity', sid=product.sid, pid=product.pid) }}" class="btn btn-warning btn-sm" role="button">Change Quantity</a>
            <a href="{{url_for('products.removeFromCart', sid=product.sid, pid=product.pid) }}" class="btn btn-danger btn-sm" role="button">Remove</a></td>
          <td>{{product.unitprice}}</td>
        </tr>
        {% set _= total.append(total.pop() + product.quantity * product.unitprice) %}
      {% endfor %}
    </tbody>
  </table>
    <h4>Total is: {{total[0] }} </h4>
<a href = "{{url_for('products.checkoutCart')}}" class="btn btn-primary btn-lg" role="button">Checkout!</a>

  {% else %}
  <h4>Your cart is empty!</h4>
  {% endif %}
{% else %}
<p><a href="{{ url_for('users.login') }}">Log in</a> to see your cart!</p>
{% endif %}


<br><br>
<a href="{{ url_for('index.index') }}" class="btn btn-primary btn-lg" role="button">Back to index</a>

{% endblock %}