{% extends "base.html" %}

{% block content %}

<br><br>

<h2>Inventory:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Price and Quantity</th>
      <th scope="col">Remove from Inventory</th>
    </tr>
  </thead>
  <tbody>
    {% for i in range(inventory_products|length) %}
      <tr>
        <th scope="row">{{inventory_products[i].id}}</th>
        <td>{{inventory_products[i].name}}</td>
        <td>
          <form action="" method="post">
            {{ forms[i].hidden_tag() }}
            <p>
              {{ forms[i].quantity.label }}<br/>
              {{ forms[i].quantity(size=32) }}<br/>
              {% for error in forms[i].quantity.errors %}
              <span style="color: red;">[{{ error }}]</span>
              {% endfor %}
            </p>
            <p>
              {{ forms[i].price.label }}<br/>
              {{ forms[i].price(size=32) }}<br/>
              {% for error in forms[i].price.errors %}
              <span style="color: red;">[{{ error }}]</span>
              {% endfor %}
            </p>
            <p>{{ forms[i].submit() }}</p>
          </form>
        </td>
        <td><a href="{{ '/remove_from_inventory/' + inventory_products[i].id|string }}">Remove</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}