{% extends "base.html" %}

{% block content %}
<br><br>
{% for message in get_flashed_messages() %}
<p> {{ message }} <p>
{% endfor %}
<h2>Products Details:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Image</th>
      <th scope="col">Average Rating</th>
    </tr>
  </thead>
  <tbody>
    {% for product in avail_products%}
      <tr>
        <th scope="row">{{product.id}}</th>
        <td>{{product.name}}<br></td>
        <td><img src="{{url_for('static', filename='images/'+product.id|string+'.png')}}" alt='no product image.' width="256" height="256" /></td>
        <td>{{'%0.2f' % product.avgrating if product.avgrating else ""}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% if seller_info|length != 0 %}
<h4>Sellers:</h4>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Available Qt.</th>
      <th scope="col">Description</th>
      <th scope="col"> </th>
    </tr>
  </thead>
  <tbody>
    {% for seller in seller_info %}
    <tr>
      <td><a href= "{{url_for('users.publicProfile', variable=seller[0]) }}">{{seller[1]}} {{seller[2]}} </a>
        {% if current_user.is_authenticated and current_user.id==seller[0] %}
          <br>
          <a href="{{url_for('products.editproductdetails', sid=seller[0], pid=avail_products[0].id) }}" class="btn btn-primary btn-lg" role="button">Edit Product Details</a> 
        {% endif %}          
      </td>
        <td> {{seller[3]}} </td>
        <td> {{seller[4]}} </td>
        <td> {{seller[5]}} </td>
        <td> <a href="{{url_for('products.addToCart', sid=seller[0], pid=avail_products[0].id) }}" class="btn btn-primary btn-lg" role="button">Add to Cart</a> </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>

{% else %}
<h4> Does not belong to any seller </h4>
{% endif %}



{% if ratings_and_reviews|length != 0 %}
<h4>Ratings and Reviews:</h4>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Rating</th>
      <th scope="col">Review</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
    {% for rnr in ratings_and_reviews %}
    <tr>
        <td> {{rnr['rating']}} </td>
        <td> {{rnr['review']}} </td>
        <td> {{rnr['date']}} </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>

{% else %}
<h4> No ratings or reviews for this product. </h4>
{% endif %}

<br><br>

<a href="{{ url_for('inventory.add_product_to_inventory', pid = avail_products[0].id) }}" class="btn btn-primary btn-lg" role="button">I want to sell this product</a>




{% endblock %}