{% extends "base.html" %}

{% block content %}

<h2>Feedbacks Received: </h2>

{% if feedbackReceived|length != 0 %}
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">User</th>
      <th scope="col">Rating</th>
      <th scope="col">Review</th>
      <th scope="col">vote</th>
      <th scope="col">Time submitted</th>
    </tr>
  </thead>
  <tbody>
    {% for feedback in feedbackReceived %}
    <tr>
        <td> {{feedback.uid}} </td>
        <td> {{feedback.rating}} </td>
        <td> {{feedback.review}} </td>
        <td> {{feedback.vote}}</td>
        <td> {{feedback.time_submitted}} </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>


{% else %}
<p>No feedback received yet</p>
{% endif %}

{% endblock %}


